<footer class="footer">
  <div>
    <h3 class="footer-title">Introduction</h3>
    <p>
      Je suis Passionnée par le Web
      les jeux video, le Dev web. Je veux vous partager ma passion avec vous.
    </p></div>
  <div>tesf</div>
  <div>linkmat</div>
</footer>
